html {
    font: normal 16px/100% 'Varela Round', 'Lucida Sans Unicode', 'Lucida Grande', Verdana, sans-serif;
    border: 1px solid black;
}
body {
    margin:0 0;
}
.container {
    width: 100%;
    min-width: 320px;
    background-color: #f9f9f9;
}
.container .header-main {
    background-color: #00adef;
    width: 100%;
    overflow: hidden;
}
.header-logo {
    position: relative;
    float: left;
    width: 22%;
    border-radius: .2em;
    margin: 0.5% 2% 1% 0.7%;
}
.header-logo img {
    width: 100%;
    border-radius: 0.5em;
}
.header-busca {
    float: left;
    width: 45%;
}
.header-search form {
    float: left;
    margin: 0% 4% 0% 3.8%;
    width: 80%;
}
.header-search input[type='search'] {
    width: 100%;
    float: left;
    border-radius: .5em;
    border: none;
    margin: 3.3% 0% 0% 0%;
    font-size: 1.1em;
    padding-left: 4%;
}
div input {
    margin-top: 2.5%;
    width: 60%;
    height: 6%;
    border-radius: .5em;
}
input {
    outline: none;
}
.umNome {
    margin-top: 1%;
    font-size: 2em;
    font-weight: bold;
    margin-right: 10%;
    float: left;
}
.umProduto {
    text-align: center;
    border: 2px solid #00adef;
    border-radius: 1em;
    width: 64%;
    float: left;
    margin-left: .5%;
    margin-top: 1%;
    background-color: #fff;
    height: 81%;
}
.produto img {
    max-width: 10em;
    margin-bottom: 13%;
}
.umValor {
    float: left;
    color: #ffa500;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 8%;
}
.umBtnComprar {
    cursor: pointer;
    float: left;
    background-color: #d0d0d0;
    border-radius: .5em;
    color: #080dce;
    font-size: 1em;
    width: 34%;
    height: 7%;
    margin-left: 1%;
}
.finalizarCompra {
    cursor: pointer;
    float: left;
    background-color: #d0d0d0;
    border-radius: .5em;
    color: #080dce;
    font-size: 1em;
    margin: 2% 0% 2% 77%;
    width: 21%;
    height: 7%;
}

.qtdeProd {
    width: 40%;
    margin-top: 5%;
}
.buscar {
	cursor: pointer;
    background-color: #d0d0d0;
    border-radius: .5em;
    float: left;
    width: 12%;
    margin-top: 3.6%;
    height: 5.7%;
}
.sign-in {
    float: left;
    margin-right: 5%;
}
form.formEntra {
    float: left;
    margin: 2.2% 0% 0% 0%;
    width: 20%;
    padding-left: 2%;
    font-size: 1em;
}
.entre {
    color: white;
    float: left;
    margin-right: 4%;
}
.cadastro {
    width: 8em;
    color: orange;
    float: left;
}
.header-main a {
    float: left;
    width: 5.5%;
    margin-top: 0.7%;
    overflow: hidden;
}
.car {
    float: right;
    width: 100%;
}
.nav-main ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 3em;
    border-bottom: 2px solid black;
}
.nav-main li {
    display: inline-block;
    padding: 1.5% 1% 1.5% 1%;
    border-bottom: .1em solid transparent;
    transition: .2s;
}
.nav-main li a {
    display: inline-block;
}
.nav-main li a:hover {
    color:orange;
}
a {
    color: #333;
    text-decoration: none;
}
#result {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.formProduto {
    border: 1px solid black;
    text-align: center;
    background-color: #00adef;
    color: white;
    width: 84%;
    margin: 0 auto;
	font-size: 1em;
    font-weight: bold;
	margin-top: 2%;
}
.cadastroProd {
    font-weight: bold;
    font-size: 2em;
    margin-top: 5%;
}
.salvarProd {
    margin-bottom: 4%;
    width: 26%;
    margin-left: 59.4%;
    margin-top: 2%;
}
.salvarCli {
	margin-bottom: 4%;
    width: 26%;
    margin-left: 59.4%;
    margin-top: 2%;
}
.produto {
    text-align: center;
    border: 2px solid #00adef;
    border-radius: 1em;
    width: 24%;
    float: left;
    margin-left: .5%;
    margin-top: 1%;
	background-color: #fff;
}
.divProdutos {
	width:100%
}
.produto img {
    max-width: 10em;
    margin-bottom: 13%;
}
.nome {
    margin-top: 1%;
    font-size: 1em;
}
.btnComprar {
    cursor: pointer;
    float: left;
    background-color: #d0d0d0;
    border-radius: .5em;
    color: #080dce;
    font-size: 1em;
    margin: 10% 0% 9% 47%;
    width: 47%;
    height: 7%;
}
.valor {
    float: left;
    color: #ffa500;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 9%;
    margin-left: 8%;
}
.formCliente {
    border: 1px solid black;
    text-align: center;
    background-color: #00adef;
    color: white;
    width: 67%;
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.5%;
}
.cadastroCli {
    font-weight: bold;
    font-size: 2em;
    margin-top: 5%;
}
.enviar {
	margin-top:1em;
	width: 10em;
	background-color:#bfbfce;
}
.footer-main {
    clear: both;
    border-top: .3em solid #eee;
    padding: 1% 2%;
    background-color: #00adef;
    height: 5em;
    color: white;
}
.footer-addr {
    float: left;
}
.footer-main address {
    font-style: normal;
}
.footer-support {
    float: right;
}
.footer-who {
    margin: 2em;
    text-align: center;
}
a.cadastro {
    width: 60%;
}